<?xml version="1.0" encoding="UTF-8"?>
<robot name="starling2max">
  <joint name="joint0" type="continuous">
    <origin xyz="0.095 -0.13 0.0195" rpy="0. 0. 0."/>
    <parent link="vehicle"/>
    <child link="vehicle_rotor0"/>
    <axis xyz="0. 0. 1."/>
  </joint>
  <joint name="joint1" type="continuous">
    <origin xyz="-0.095 0.13 0.0195" rpy="0. 0. 0."/>
    <parent link="vehicle"/>
    <child link="vehicle_rotor1"/>
    <axis xyz="0. 0. 1."/>
  </joint>
  <joint name="joint2" type="continuous">
    <origin xyz="0.095 0.13 0.0195" rpy="0. 0. 0."/>
    <parent link="vehicle"/>
    <child link="vehicle_rotor2"/>
    <axis xyz="0. 0. 1."/>
  </joint>
  <joint name="joint3" type="continuous">
    <origin xyz="-0.095 -0.13 0.0195" rpy="0. 0. 0."/>
    <parent link="vehicle"/>
    <child link="vehicle_rotor3"/>
    <axis xyz="0. 0. 1."/>
  </joint>
  <link name="vehicle">
    <inertial>
      <origin xyz="0.00102 0.00016 0.00741" rpy="0. 0. 0."/>
      <mass value="0.46788"/>
      <inertia ixx="0.002943" ixy="0." ixz="0." iyy="0.001857" iyz="0." izz="0.004649"/>
    </inertial>
    <visual>
      <origin xyz="0.095 0.13 0.005" rpy="1.5707963 -0.0000001 1.103188 "/>
      <geometry>
        <mesh filename="meshes/body.stl" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.095 0.13 0.005" rpy="1.5707963 -0.0000001 1.103188 "/>
      <geometry>
        <mesh filename="meshes/body.stl" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="vehicle_rotor0">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.007"/>
      <inertia ixx="0.000016" ixy="0." ixz="0." iyy="0.000016" iyz="0." izz="0.00003"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. 0." rpy="1.5707964 0. 1.5707963"/>
      <geometry>
        <mesh filename="meshes/rotor0.stl" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. 0." rpy="1.5707964 0. 1.5707963"/>
      <geometry>
        <mesh filename="meshes/rotor0.stl" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="vehicle_rotor1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.007"/>
      <inertia ixx="0.000016" ixy="0." ixz="0." iyy="0.000016" iyz="0." izz="0.00003"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="1.5707964 0. -1.5707959"/>
      <geometry>
        <mesh filename="meshes/rotor1.stl" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="1.5707964 0. -1.5707959"/>
      <geometry>
        <mesh filename="meshes/rotor1.stl" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="vehicle_rotor2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.007"/>
      <inertia ixx="0.000016" ixy="0." ixz="0." iyy="0.000016" iyz="0." izz="0.00003"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. 0." rpy="1.5707964 0. -1.5707959"/>
      <geometry>
        <mesh filename="meshes/rotor2.stl" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. 0." rpy="1.5707964 0. -1.5707959"/>
      <geometry>
        <mesh filename="meshes/rotor2.stl" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="vehicle_rotor3">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.007"/>
      <inertia ixx="0.000016" ixy="0." ixz="0." iyy="0.000016" iyz="0." izz="0.00003"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. -0." rpy="1.5707964 0. 1.5707963"/>
      <geometry>
        <mesh filename="meshes/rotor3.stl" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. -0." rpy="1.5707964 0. 1.5707963"/>
      <geometry>
        <mesh filename="meshes/rotor3.stl" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
