<?xml version="1.0"?>
<model>
  <name>starling2max-Depth</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Airlab</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Starling 2 Max with a directly mounted depth sensor.</description>
</model>
